@page
@model IndexModel
@{
    ViewData["Title"] = "home";
}

<div class="text-center mt-5 pt-5">
    <em style="font-size:6rem;" class="em-black">Turbo</em><em style="font-size:6rem;" class="em-purple">Feeds</em>
</div>

<div class="text-center">
    Revolutionizing Your Browsing Experience
</div>