<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TurboFeeds</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/site.css" rel="stylesheet">
</head>

<body>
    <div class="d-flex flex-column flex-lg-row">
        <!-- Top bar for mobile -->
        <div class="topbar d-lg-none">
            <div class="feed-list-mobile d-flex">
                <ul id="feed-list-mobile" class="d-flex" hx-get="/feeds" hx-target="#feed-list-mobile" hx-trigger="load">
                    <!-- Feed items will be loaded dynamically here -->
                </ul>
            </div>
        </div>

        <!-- Sidebar for larger screens -->
        <div class="sidebar d-none d-lg-block p-4">
            <h2 class="font-weight-bold">Active Feeds</h2>
            <ul id="feed-list" hx-get="/feeds" hx-target="#feed-list" hx-trigger="load">
                <!-- Feed items will be loaded dynamically here -->
            </ul>
        </div>
        <div class="p-4">
            <div class="header">
                <h1><em class="em-black">Turbo</em><em class="em-purple">Feeds</em></h1>
            </div>
            <div id="feed-content">
                <!-- Feed content will be loaded dynamically here -->
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</body>

</html>
