@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f5f5;
    color: #3e3e3e;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn, .btn-link.nav-link {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    background-color: #9d32ff;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand {
    font-weight: 800
}

.em-purple {
    color: #9d32ff;
    font-weight: 800;
    font-style: normal;
}

.em-black {
    color: #3e3e3e;
    font-weight: 800;
    font-style: normal;
}

.main-container {
    min-height: 80vh;
}

.pointer:hover, a:hover {
    cursor: pointer;
}

.sidebar {
    height: 100vh;
    background-color: #ececec;
    padding: 1rem;
}

.sidebar h2 {
    color: #9d32ff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 0.5rem 0;
}

.sidebar ul li a {
    color: #3e3e3e;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #9d32ff;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
